# Dependencias de Node.js
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entornos de desarrollo
.env
.env.local
.env.*.local

# Archivos generados de pruebas y cobertura
coverage/

# Salidas de compilación y caché
dist/
build/
.cache/
out/
temp/
tmp/

# Archivos del editor
.vscode/
.idea/
*.swp
*~

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Bloqueo de dependencias
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos relacionados con Docker
.dockerignore
docker-compose.override.yml

# Otros
*.tgz
*.min.js
*.map

# Ignorar exportaciones de npm
.npm/
